.nav-item {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-link:hover {
    color: #555;
  }
  